html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
}
.wrapper {
	width: 80%;
	min-width: 700px;
	margin: 0 auto;
}
.intro {
	padding: 0 7%;
	font-size: 1.3em;
	clear: both;
}
.welcome {
	text-align: right;
	clear: both;
	margin-bottom: 50px;
}
.foundations {
	width: 100%;
	clear: both;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
}
.chapter {
	float: left;
	width: 25%;
	min-height: 170px;
}
footer {
	width: 88%;
	border-top: solid gray 1px;
	margin: 0 auto;
	text-align: center;
	font-size: .85em;
}
footer ul {
	text-align: center;
}
footer ul li {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	padding: 0 15px;
}
.strong {
	font-weight: bold;
}
a {
	text-decoration: none;
	color: #0645AD;
}
a:hover {
	text-decoration: underline;
	font-weight: none;
}